BMP_CELL BITMAP "cell.bmp"
BMP_CHOOSESYNAPSE BITMAP "choosesynapse.bmp"
Bitmap_13 BITMAP "close.bmp"
BMP_CURRENT BITMAP "current.bmp"
Bitmap_15 BITMAP "current_large.bmp"
Bitmap_16 BITMAP "downarrow.bmp"
BMP_ELECTRODE BITMAP "electrode.bmp"
Icon_4 ICON "NetClamp_Icon.ico"
Icon_5 ICON "NetClamp_Icon1.ico"
Icon_6 ICON "NetClamp_Icon2.ico"
Icon_7 ICON "NetSim_Icon.ico"
Icon_1 ICON "NetSim_Icon1.ico"
Icon_2 ICON "NetSim_Icon2.ico"
Bitmap_18 BITMAP "network small.bmp"
BMP_NETWORK BITMAP "network.bmp"
Icon_3 ICON "network.ico"
Bitmap_20 BITMAP "play.bmp"
Bitmap_21 BITMAP "record.bmp"
Bitmap_22 BITMAP "recordover.bmp"
Bitmap_1 BITMAP "stop.bmp"
Bitmap_2 BITMAP "synapse.bmp"
BMP_synapseBLTR BITMAP "synapseBLTR.bmp"
BMP_synapseHORZ BITMAP "synapseHORZ.bmp"
BMP_synapseTLBR BITMAP "synapseTLBR.bmp"
BMP_synapseVERT BITMAP "synapseVERT.bmp"
Bitmap_7 BITMAP "tilde.bmp"
Bitmap_8 BITMAP "uparrow.bmp"
Bitmap_9 BITMAP "zoomhorizontal.bmp"
Bitmap_10 BITMAP "zoomvertical.bmp"
